:root{
    --color-1: 165,117,72;
    --color-2:252,215,173;
    --color-3:246,194,139;
    --color-4:82,150,165;
    --color-5:130,221,240;
}

body {
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(var(--color-2), .5);
}

.login-container {
    width: 950px;
    max-height: 500px;
    display: flex;
    background-color: white;
    box-shadow: 3px 3px 100px 0px rgb(136, 136, 136);
}

#login-left-section {
    padding: 3rem 1rem 3rem 1rem;
    width: 50%;
    color:rgb(91, 91, 91);

}

#login-left-section p{
    font-size: 2rem;
    padding-left: 2rem;
}

label {
    font-size: .8rem;
}


#login-right-section {
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(-45deg, rgba(var(--color-5),1) 0%, rgba(var(--color-4),1) 100%);
}

.login-form {
    padding: 1rem 2rem 0rem 2rem;
    margin-top: 2rem;
}

input {
    border-radius: 50px;
    border: none;
    background-color: rgb(236, 236, 236);
    margin-top: 1rem;
    margin-bottom: 2rem;
}

/* Button */

button{
    border-radius: 50px;
    font-size: 1.1rem;
}

#login-right-section button {
    background-color: transparent;
    border: 2px solid white;
    width: 12rem;
}

#login-left-section button {
    border: none;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(-45deg, rgba(var(--color-5),1) 0%, rgba(var(--color-4),1) 100%);
}

#login-right-section button:hover {
    background-color: white;
    color: black;
    box-shadow: none;
}

.echo-text-style{
    color: red;
    font-size: 20px;
    font-weight: 500;
    padding-top: 1rem;
    text-align: center;
}
